.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  overflow: hidden;
}

.navbar{
  display:flex;
  width:100%;
  text-align:center;
  align-items: center;
  justify-content:center;
  margin-bottom:30px;
  overflow: hidden;
}
.App-link {
  color: #61dafb;
  /*text-decoration:none;*/
}
.App-link:hover{
  color: #61dafb;
  text-decoration:none;
  text-shadow: 0px 1px 1px rgb(104, 104, 104);
  font-size: 1.2em;
}
.text-right{
  text-align:right;
  margin-left:150px;
}
.text-left{
  text-align:left;
  margin-right:150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sample{
  height: 15%;
  width: 15%;
}
.App-footer{
  display:flex;
  justify-content:center;
  align-items:center;
}
#clock-container{
  margin-top:30px;
  width:350px;
  height:320px;
  border-radius:10px;
  border-color: gainsboro;
  background-color: aliceblue;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
#horloge{
  background-color: rgb(5, 5, 5);
  box-shadow:1px 1px 2px grey;
  width: 300px;
  height:300px;
  margin:auto auto;
  color:white;
}
